<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-t-lg">
                <div class="heigth-100">
                    <div class="flex sta-targeting heigth-100">
                        <div id="sta-targeting-nav-bar" class="flex sta-vertical-menu expanded">
                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        Country
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        State
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        City
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        Carrier
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        Hashtag
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-slack" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                                <div class="sta-targeting-item-title">
                                    <p>
                                        Language
                                    </p>
                                </div>
                                <div class="sta-targeting-item-title">
                                    <p>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="flex sta-targeting-wrapper flex-column">
                            <div class="">
                                <div class="sta-top-menu sta-targeting-title flex flex-vertical-center">

                                    <div id="expand-shrink" onclick="expandMenu()" class="cursor-pointer width-5">
                                        <p class="margin-10">
                                            <i class="fa fa-bars" aria-hidden="true" style="font-size:22px;"></i>
                                        </p>
                                    </div>

                                    <div class="width-45">
                                        <p class="margin-10">
                                            Targeting: <span>Country</span> <span>(Modo exclusivo)</span>
                                        </p>
                                    </div>

                                    <div class="flex flex-vertical-center width-45">
                                        <div>
                                            <p class="margin-10">
                                                Modo inclusivo
                                            </p>
                                        </div>
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked class="onoffswitch-checkbox" id="mode-switch">
                                                <label class="onoffswitch-label" for="mode-switch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="margin-10">
                                                Modo exclusivo
                                            </p>
                                        </div>
                                    </div>
                                    <div class="width-5">
                                        <div class="margin-5 sta-targeting-circle red"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="sta-search-wrapper style-4">
                                <input ng-keydown="activeNavigation($event)" autocomplete="off" type="text" ng-model="search" placeholder="Buscar..." name="search" class="underline-input" value="">
                            </div>
                            <div class="sta-targeting-search-results" >
                                <div id="anchor-{{$index}}" class="item-found cursor-pointer" ng-click="enterKeyPressed($index)" ng-repeat="item in results" ng-class="{'selected' : $index == selected}" >
                                    <p>
                                        {{item.body}}
                                    </p>
                                </div>
                            </div>
                            <div class="sta-targeting-elements">
                                <div class="item-found white" ng-repeat="item in itemsAdded">
                                    <p>
                                        {{item.body}} <span class="cursor-pointer close-label" ng-click="removeItem($index)">&#10006</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex margin-10">
                        <div class="margin-5">
                            <p>
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                Targeting inactivo
                            </p>
                            <p>
                                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                Modo exclusivo
                            </p>
                        </div>
                        <div class="margin-5">
                            <p>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Modo inclusivo
                            </p>
                            <p>
                                <i class="fa fa-slack" aria-hidden="true"></i>
                                Hashtag
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
