<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-t-lg">
                <div class="flex sta-targeting">
                    <div class="flex sta-vertical-menu">
                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    Country
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    State
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    City
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    Carrier
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    Hashtag
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-slack" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                        <div class="flex flex-vertical-center flex-spaces-between sta-targeting-item">
                            <div class="sta-targeting-item-title">
                                <p>
                                    Language
                                </p>
                            </div>
                            <div class="sta-targeting-item-title">
                                <p>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="flex sta-targeting-wrapper  flex-column">
                        <div class="sta-top-menu">
                            <div class="sta-targeting-title flex flex-vertical-center flex-spaces-between">
                                <div class="">
                                    <p class="margin-10">
                                        Targeting: <span>Country</span> <span>(Modo exclusivo)</span>
                                    </p>
                                </div>
                                <div class="">
                                    <div class="flex flex-vertical-center sta-targeting-switch">
                                        <div class="margin-10">
                                            <p>
                                                Modo inclusivo
                                            </p>
                                        </div>
                                        <div class="switch margin-10">
                                            <div class="onoffswitch">
                                                <input type="checkbox" checked class="onoffswitch-checkbox" id="mode-switch">
                                                <label class="onoffswitch-label" for="mode-switch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="margin-10">
                                            <p>
                                                Modo exclusivo
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="margin-5 sta-targeting-circle red"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sta-search-wrapper style-4">
                            <input type="text" placeholder="Buscar..." name="search" class="underline-input" value="">
                        </div>
                        <div class="sta-targeting-search-results">
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado #1
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #1
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado #3
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado corto
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado #5
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #2
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #2
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #2
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #2
                                </p>
                            </div>
                            <div class="item-found cursor-pointer">
                                <p>
                                    Resultado largooooo #2
                                </p>
                            </div>
                        </div>
                        <div class="sta-targeting-elements">
                            <div class="item-found">
                                <p>
                                    Resultado seleccionado #1 <span class="cursor-pointer close-label">&#10006</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex margin-10">
                    <div class="margin-5">
                        <p>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            Targeting inactivo
                        </p>
                        <p>
                            <i class="fa fa-external-link-square" aria-hidden="true"></i>
                            Modo exclusivo
                        </p>
                    </div>
                    <div class="margin-5">
                        <p>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Modo inclusivo
                        </p>
                        <p>
                            <i class="fa fa-slack" aria-hidden="true"></i>
                            Hashtag
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
